ggwave==0.3.0
jinja2==3.0.1
SpeechRecognition==3.8.1
speechkit==1.4.0
PyAudio==0.2.11
simpleaudio==1.0.4
websockets==9.1
requests==2.26.0
python_dateutil==2.8.2
pathlib2==2.3.6
beautifulsoup4==4.9.3
pymorphy2==0.9.1
aioconsole==0.3.1