[Unit]
Description = Heytelepat Speaker Issue Manager
After = network.target

[Service]
Type = simple
WorkingDirectory = {{ working_directory }}

User = {{ user }}

ExecStart = {{ python_env_path }} {{ script }} {{ args }}
Restart = on-failure

[Install]
WantedBy = multi-user.target
