{% extends 'iframe_base.html' %}

{% block body %}
<div class="d-grid gap-2 col-6 mx-auto">
  <h4 class="mb-3 mt-3">Подключение нового устройства</h4>
  <form method="post">
    {% csrf_token %}

    <div class="form-floating mb-3">
      <input
        id="floatingInput"
        name="code"
        type="number"
        class="form-control{% if invalid_code %} is-invalid{% endif %}"
        placeholder="123456"
        {% if invalid_code %}value="{{ value }}"{% endif %}
      />
      <label for="floatingInput"
        >{% if invalid_code %}Неверный код{% else %}Введите код сюда{% endif %}</label
      >
    </div>
    <input type="hidden" name="contract_id" value="{{ contract_id }}" />
    <div class="d-grid gap-2 col-6 mx-auto">
      <input class="btn btn-outline-secondary" type="submit" value="Готово"/>
    </div>
  </form>
</div>
{% endblock %}
