{% extends 'iframe_base.html' %}

{% block body %}
<div class="d-grid gap-2 col-6 mx-auto">
  <h4 class="mb-3 mt-3">Настройки агента умных колонок</h4>
  {% if len_speakers is 0 %}
  <p>Вы не добавили ни одной умной колонки</p>
  {% else %}
  {% for i in speakers %}
  <div class="card">
    <div class="card-body">
      <p class="card-text">Колонка, код - {{ i.code }}</p>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="speaker_id" value="{{ i.pk }}" />
        <input type="hidden" name="contract_id" value="{{ contract_id }}"" />
        <div class="d-grid gap-2 col-6 mx-auto">
          <input class="btn btn-primary" type="submit" value="Удалить"/>
        </div>
      </form>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <a class="btn btn-primary" href="/medsenger/newdevice?contract_id={{ contract_id }}&api_key={{ api_key }}">Добавить колонку</a>
  <div class="d-grid gap-2 mt-2 col-6 mx-auto">
    <button class="btn btn-outline-secondary" type="button" onclick="window.parent.postMessage('close-modal-success','*');">Закрыть</button>
  </div>
</div>
{% endblock %}
