[Unit]
Description=HeytelepatSpeaker
After=network.target

[Service]
Type=notify
WorkingDirectory=/home/pi/heytelepat/Speaker/

User=pi

ExecStart=/home/pi/heytelepat/Speaker/env/bin/python /home/pi/heytelepat/Speaker/speaker.py -symd -log=info -infunc=rpibutton
Restart=on-failure

[Install]
WantedBy=multi-user.target
