[Unit]
Description=Heytelepat Speaker

[Service]
Type=notify
ExecStart=/home/pi/heytelepat/Speaker/env/bin/python /home/pi/heytelepat/Speaker/speaker.py -log=info -infunc=rpibutton
Restart=on-failure
User=pi

[Install]
WantedBy=default.target
