[Unit]
Description=Heytelepat Speaker

[Service]
ExecStart=/home/pi/heytelepat/Speaker/env/bin/python /home/pi/heytelepat/Speaker/speaker.py -log=info -infunc=rpibutton
Type=notify

[Install]
WantedBy=default.target
