ggwave==0.3.0
jinja2==3.0.1
SpeechRecognition==3.8.1
speechkit==1.4.0
PyAudio==0.2.11
simpleaudio==1.0.4
websockets==9.1
requests==2.26.0
pvporcupine==1.9.5
cysystemd==1.4.8
python_dateutil==2.8.2
spidev==3.5
RPi.GPIO==0.7.0
pyalsaaudio==0.9.0
pathlib2==2.3.6
beautifulsoup4==4.9.3